
html {
  box-sizing: border-box;
}

body {
  background-color: #f5ecec;

}
header {


}
h2 {
  font-family: Arial, Helvetica, sans-serif;

}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 0px;
  padding: 20px;
  color: white;
}
h4 {
  margin: 150px 0 0 0;
  padding-left: 10px;
}

footer {
  background-color: #6c97f3;

}

header {
  background-color: #6c97f3;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #000000;
}

li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li button:hover {
  background-color: #dc3939;
  transition: 0.4s;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
li button {
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background: #333333;
}
li button:hover {
  background-color: #e19d9d;
  box-shadow: 0 0 50px 15px #ff9dab;
}
li a {
  display: block;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background: #333333;
}
li a:hover {
  background-color: #e19d9d;
  box-shadow: 0 0 50px 15px #ff9dab;
}
li a:hover {
  background-color: #dc3939;
  transition: 0.4s;
}
b {
  padding: 20px;
}
