$background-color: #836953;
$secondary-background-color: #FCF4DE;

$font-color1: #333333;




html{
  background: $background-color;
  color: $font-color1;
}

header{
  background: $secondary-background-color;
}

ul{

}

.btn{
  
}



