@()

    <footer>
        <div class="footer-links">
            <a onclick="openForm()" >Reservation</a>
            <a href="@controllers.routes.HomeController.aboutUs()">About us</a>
            <a href="@controllers.routes.HomeController.manage()">Manage Boats and Reservations</a>
        </div>

        <div class="footer-social-icons">
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
        <p class="copyRight">&copy; 2024 MAKO. All rights reserved.</p>
    </footer>
