@import forms.ReservationForm
@import play.mvc.Http.Request

@(reservationForm: Form[ReservationForm])(implicit request: Request, messages: play.i18n.Messages, showReservation : Boolean)
<div class="form-popup" id="myForm">
    <div class="form-container">
        <h1 style="color: #333333">Reservation</h1>
        @helper.form(routes.HomeController.submitReservation()){
            @helper.inputDate(
                reservationForm("date"),
                Symbol("_label") -> "date",
                Symbol("_showConstraints") -> false
            )
            @helper.input(
                reservationForm("timeFrom"),
                Symbol("_label") -> "time from",
                Symbol("_showConstraints") -> false
            ) { (id, name, value, args) =>
                <input  type="time" id="@id" value="@value" name= "@name" @toHtmlArgs(args)>
            }
            @helper.input(
                reservationForm("timeTo"),
                Symbol("_label") -> "time to",
                Symbol("_showConstraints") -> false
            ){ (id, name, value, args) =>
                <input type="time" id="@id" value="@value" name= "@name" @toHtmlArgs(args)>
            }


            <button class="btn" type="submit">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        }
    </div>
</div>