@import views.html.templates.form
@import forms.ReservationForm
@import play.mvc.Http.Request
@import models.view.BoatTableViewAdapter

@(reservationForm: Form[ReservationForm], loginIcon: String, boatTableViewAdapterList: List[BoatTableViewAdapter])(implicit request: Request, messages: play.i18n.Messages, showReservation : Boolean)
<header>
        <a class="stickyHeader stickyHeaderTransition" href="@controllers.routes.HomeController.index()">
        MAKO - BOAT RENTAL & SEA LOUNGE
        </a>
    <ul>
        <li style="float: right" class="logout"><a href="@controllers.routes.HomeController.logOut()"  onclick="logout()" id="loginIcon">@loginIcon</a></li>
@*        <div class="hide">log out? log out? log out? log out? log out? log out?</div>*@
        <li style="float: right"><a class="openButton stickyHeaderTransition" onclick="openForm()" >RESERVATION</a></li>
        <li style="float: right"><a href="@controllers.routes.HomeController.drinks()" > DRINKS </a></li>
        <li style="float: right"> <a href="@controllers.routes.HomeController.aboutUs()" > ABOUT US </a></li>
        <li style="float: right"> <a href="@controllers.routes.HomeController.manage()" >MANAGE</a></li>
        <li style="float: right"> <a href="@controllers.routes.HomeController.coffee()" >COFFEE</a></li>
    </ul>

</header>
<style>
        .hide {
            display: none;
        }

        .logout:hover + .hide {
            display: block;
            color: wheat;
        }
</style>
@form(reservationForm, boatTableViewAdapterList)
