@import views.html.templates.header
@import views.html.templates.footer
@import play.mvc.Http.Request
@import forms.ReservationForm
@(reservationForm: Form[ReservationForm])(implicit request: Request, messages: play.i18n.Messages, showReservation : Boolean)
@main("Bootsverleih - MAKO"){
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/drinks/drinks.css")">
    @header(reservationForm)
    <p id="showReservation" style="display: none">@showReservation</p>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="@routes.Assets.versioned("images/colaCola.png")" alt="Cola" style="width:100%">
                <div class="container">
                    <h2>Coca Cola</h2>
                    <p></p>
                    <p><input type="button" value="4.00.-" class="button"></p>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50vh;">

    </div>
    @footer()

}
