@import play.mvc.Http.Request


@()(implicit request: Request, messages: play.i18n.Messages)
@main("Bootsverleih - MAKO"){
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/calender/calender.css")">
    </head>
    <header>
        <a class="stickyHeader stickyHeaderTransition" href="@controllers.routes.HomeController.index()">
            MAKO - BOAT RENTAL & SEA LOUNGE
        </a>
    </header>
    <section style="min-height: 50vh">
        <div class="calendar">
            <div class="timeline">
                <div class="spacer"  style="margin-top: 20%"></div>
                <div class="time-marker"></div>
                <div class="time-marker"></div>
                <div class="time-marker"></div>
                <div class="time-marker"></div>
                <div class="time-marker">9 AM</div>
                <div class="time-marker">9:15 AM</div>
                <div class="time-marker">9:30 AM</div>
                <div class="time-marker">9:45 AM</div>
                <div class="time-marker">10 AM</div>
                <div class="time-marker">10:15 AM</div>
                <div class="time-marker">10:30 AM</div>
                <div class="time-marker">10:45 AM</div>
                <div class="time-marker">11 AM</div>
                <div class="time-marker">11:45 AM</div>
                <div class="time-marker">12 PM</div>
                <div class="time-marker">12:15 PM</div>
                <div class="time-marker">12:30 PM</div>
                <div class="time-marker">12:45 PM</div>
                <div class="time-marker">1 PM</div>
                <div class="time-marker">1:15 PM</div>
                <div class="time-marker">1:30 PM</div>
                <div class="time-marker">1:45 PM</div>
                <div class="time-marker">2 PM</div>
                <div class="time-marker">2:15 PM</div>
                <div class="time-marker">2:30 PM</div>
                <div class="time-marker">2:45 PM</div>
                <div class="time-marker">3 PM</div>
                <div class="time-marker">3:15 PM</div>
                <div class="time-marker">3:30 PM</div>
                <div class="time-marker">3:45 PM</div>
                <div class="time-marker">4 PM</div>
                <div class="time-marker">4:15 PM</div>
                <div class="time-marker">4:30 PM</div>
                <div class="time-marker">4:45 PM</div>
                <div class="time-marker">5 PM</div>
                <div class="time-marker">5:15 PM</div>
                <div class="time-marker">5:30 PM</div>
                <div class="time-marker">5:45 PM</div>
                <div class="time-marker">6 PM</div>
                <div class="time-marker">6:15 PM</div>
                <div class="time-marker">6:30 PM</div>
                <div class="time-marker">6:45 PM</div>
                <div class="time-marker">7 PM</div>
            </div>
            <div class="days">
                <div class="day mon">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Mon</p>
                    </div>
                    <div id="eventMon" class="events">
                        <div class="topDatePanel"></div>
                    </div>
                </div>
                <div class="day tues">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Tue</p>
                    </div>
                    <div id="eventTue" class="events">
                        <div id="eventMon" class="events">
                            <div class="topDatePanel"></div>
                        </div>
                    </div>
                </div>
                <div class="day wed">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Wed</p>
                    </div>
                    <div id="eventWed" class="events">
                        <div id="eventMon" class="events">
                            <div class="topDatePanel"></div>
                        </div>
                    </div>
                </div>
                <div class="day thurs">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Thu</p>
                    </div>
                    <div id="eventThurs" class="events">
                        <div id="eventMon" class="events">
                            <div class="topDatePanel"></div>
                        </div>
                    </div>
                </div>

                <div class="day fri">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Fri</p>
                    </div>
                    <div id="eventFri" class="events">
                        <div id="eventMon" class="events">
                            <div class="topDatePanel"></div>
                        </div>
                    </div>
                </div>
                <div class="day sat">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Sat</p>
                    </div>
                    <div id="eventSat" class="events">
                        <div id="eventMon" class="events">
                            <div class="topDatePanel"></div>
                        </div>
                    </div>
                </div>

                <div class="day sun">
                    <div class="date">
                        <p class="date-num"></p>
                        <p class="date-day">Sun</p>
                    </div>
                    <div id="eventSun" class="events">
                        <div id="eventMon" class="events">
                            <div class="topDatePanel"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script defer type="text/javascript" src="@routes.HomeController.javaScriptRoutesAdminCalendar"></script>
    <script defer src="@routes.Assets.versioned("typescript_dist/typescript_admin_bundle.js")" type="text/javascript" ></script>
}