@import forms.Login
@import play.mvc.Http.Request

@(login: Form[Login])(implicit request: Request, messages: play.i18n.Messages)

@main("Bootsverleih - MAKO"){
    <header>
        <a class="stickyHeader stickyHeaderTransition" href="@controllers.routes.HomeController.index()">
            MAKO - BOAT RENTAL & SEA LOUNGE
        </a>
    </header>
    <body>
        <div style="left: 43%;
            position: absolute;
            width: 15%;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); ">
            <h1 style="color: #333333">LOGIN</h1>
            @helper.form(routes.HomeController.submitLogin()){
                @helper.inputText(
                    login("email"),
                    Symbol("_label") -> "email",
                    Symbol("_showConstraints") -> false
                )
                @helper.inputText(
                    login("password"),
                    Symbol("_label") -> "password",
                    Symbol("_showConstraints") -> false
                )
                <button class="btn" type="submit">Login</button>

                <button class="btn" type="reset">
                    Reset
                </button>

                <a class="btn" id="showReservation" href="@controllers.routes.HomeController.admin()" >Admin</a>

                <a class="link" href="@controllers.routes.HomeController.signup()">Don't have an account? sign up here</a>

            }
        </div>
    </body>
}