@import views.html.templates.header
@import views.html.templates.footer
@import forms.BoatManagement
@import play.mvc.Http.Request
@import views.html.helper.options
@import forms.ReservationForm
@import models.view.BoatTableViewAdapter


@(boatTableViewAdapterList: List[BoatTableViewAdapter], boatManagement: Form[BoatManagement], reservationForm2: Form[ReservationForm], loginIcon: String)(implicit request: Request, messages: play.i18n.Messages, showReservation : Boolean)
@main("Bootsverleih - MAKO"){

    @header(reservationForm2, loginIcon, boatTableViewAdapterList)
    <p id="showSubmittedReservation" style="display: none">@showReservation</p>
    <section style="margin-top: 20%; min-height: 50vh">
        <div>
            <h2 style="text-align: center">BOAT LIST</h2>
        </div>
        <div style=" width: 60%;
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        ">
        @if(boatTableViewAdapterList.isEmpty) {
            <p style="font-family: sans-serif;" >No boats available</p>
        } else {
            <p id="noBoatsAvailable" style="font-family: sans-serif; display: none" >No boats available</p>
            <table id="boatTable">
                <tr id="boatTableRow">
                    <td class="boatData">Boat Model</td>
                    <td class="boatData">Vehicle License Plate</td>
                </tr>
                @for((data, index) <- boatTableViewAdapterList.zipWithIndex) {
                    <tr class="boatDataSets" id="@data.id">
                        <td class="boatData">@data.model</td>
                        <td class="boatData" id="kfz_@index">@data.vehicleLicensePlate</td>
                        <td class="boatData">
                            <a class="button3 wasteBasket" id="wasteBasket@index" onclick="deleteConfirm(document.getElementById('kfz_' + @index).innerHTML, @index)">🗑️</a>
                        </td>
                    </tr>
                }
            </table>
        }


        </div>
        <p id="deleteConfirm"  class="deleteNoti" style="">

        </p>
        <div>
            <a href="@controllers.routes.HomeController.addingBoat()" class="button2" style="padding: 10px 20px;
                width: 50px;
                background-color: #4CAF50;
                color: #f3f3f3;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;">+</a>
        </div>
    </section>
    <section style="min-height: 70vh">

    </section>
    @footer()

    <script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>



}
