@import views.html.templates.footer
@import views.html.templates.header
@import forms.ReservationForm
@import play.mvc.Http.Request
@import models.view.BoatTableViewAdapter
@(reservationForm: forms.ReservationForm, reservationForm2: Form[ReservationForm], loginIcon: String, boatTableViewAdapterList: List[BoatTableViewAdapter])(implicit request: Request, messages: play.i18n.Messages, showReservation : Boolean)
@main("Bootsverleih - MAKO") {
    @header(reservationForm2, loginIcon, boatTableViewAdapterList)
    <section style="min-height: 20vh"></section>
        <h2 style="text-align: center">Reservation Details</h2>
        <h1 style="text-align: center; color: white">🎉🎉🎉THANK YOU FOR THE RESERVATION🎉🎉🎉</h1>
        <div id="data" class="container" style="
            width: 80%;
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            ">
           <p class="showReservation">Time: @reservationForm.timeFrom - @reservationForm.timeTo</p>
            <p class="showReservation">Date: @reservationForm.date</p>
        </div>
    <img  style="width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;"
        class="sharkImage" src="@routes.Assets.versioned("images/shark.gif")">
    <section style="min-height: 50vh"></section>
    @footer()
}

