@import views.html.templates.footer
@import views.html.templates.header
@import forms.ReservationForm
@import play.mvc.Http.Request
@(reservationForm: forms.ReservationForm, reservationForm2: Form[ReservationForm])(implicit request: Request, messages: play.i18n.Messages, showReservation : Boolean)
@main("Bootsverleih - MAKO") {
    @header(reservationForm2)
        <h2 style="margin-left: 1%">Reservation Details</h2>
        <h1 style="text-align: center; color: white">🎉🎉🎉THANK YOU FOR THE RESERVATION🎉🎉🎉</h1>
@*        <div id="data" class="container" style="*@
@*            width: 80%;*@
@*            max-width: 600px;*@
@*            margin: 50px auto;*@
@*            padding: 20px;*@
@*            background-color: #fff;*@
@*            border-radius: 10px;*@
@*            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*@
@*            text-align: center;*@
@*            ">*@
@*            <p class="showReservation">First Name: @reservationForm.firstName</p>*@
@*            <p class="showReservation">Last Name: @reservationForm.lastName</p>*@
@*            <p class="showReservation">Email: @reservationForm.email</p>*@
@*            <p class="showReservation">Phone Number: @reservationForm.phone</p>*@
@*            <p class="showReservation">Time: @reservationForm.timeFrom - @reservationForm.timeTo</p>*@
@*            <p class="showReservation">Date: @reservationForm.date</p>*@
@*        </div>*@
    <img  style="width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;"
        class="sharkImage" src="@routes.Assets.versioned("images/shark.gif")">
    @footer()
}

